.app {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  padding: 10px;
  background-color: black;
}

aside {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: lightskyblue;
  top: 0;
  left: 0;
  padding: 10px;
  align-items: flex-end;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
}

aside.open {
  transform: translateX(0);
}

/*.mdl-button i {
  color: white;
}*/

.open-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  background: #4c4c4c !important;
}

.back-btn {
  position: absolute;
  left: 215px;
  /*color: #F9A440;*/
  background: black !important;
  /*font-size: 20em;*/
}

.forward-btn {
  position: absolute;
  right: 215px;
  background: black !important;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.calendar {
  height: 100%;
  min-width: 320px;
  max-width: 800px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  /*border: 2px solid lightsalmon;*/
}

.main-image {
  background-color: steelblue;
  flex: 1;
  position: relative;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.main-image iframe {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.melody-modal {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 90%;
  max-width: 900px;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
}

.modal-image {
  background-color: black;
  width: 100%;
  flex: 5;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-explanation {
  background-color: black;
  color: lightgrey;
  width: 100%;
  flex: 2;
  padding: 10px;
  text-align: justify;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  max-height: 200px;
  overflow-y: auto;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.melody-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-month {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  letter-spacing: 10px;
  font-size: 5em;
  color: white;
  position: absolute;
  bottom: 0;
  left: 10px;
  text-transform: uppercase;
}

.current-dates {
  background-color: white;
  flex: 1;
  position: relative;
}

/*test*/

.days-of-week {
  display: flex;
  min-height: 40px;
  flex: 1;
}

.weekday {
  flex: 1 1 14.28%;
  color: white;
  padding: 5px;
  background-color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.week {
  display: flex;
  flex-wrap: wrap;
  flex: 9;
}

.day {
  flex: 1 1 14.28%;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  box-shadow:
    -1px -1px #F9A440,
    inset -1px -1px 0 0 #F9A440;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  background-color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.month {
  display: flex;
  flex-direction: column;
  height: 50%;
}

/*reference: https://codepen.io/LandonSchropp/pen/GJWGrO

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%;
}*/
